// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  text-align: center;
}

ul li {
  text-decoration: none;
  padding-right: 30px;
}

ul {
  list-style-type: none;
}

li a:hover {
  color: red;
  text-transform: uppercase;
}

input {

}

h1 {
  font-size: 75px;
  color: purple;
}

h3 {
  font-size: 25px;
}

.row {
  padding-right: 450px;
  padding-left: 450px;
}

.btn-primary {
  margin-left: 150px;
  margin-top: 10px;
}

label {
  font-size: 20px;
}


@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 700ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

